* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  box-sizing: border-box;
}

#container {
  display: flex;
  align-items: center;
  background-color: #F1DEC6;
  padding: 1em;
  flex-wrap: wrap;
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans");

:root {
  --theme-bg-color: white;
  --theme-color: rgb(37, 150, 190);
}

.item {
  padding: 10px;
  text-decoration: none;
  color: var(--theme-color);
}

.item.right {
  margin: 0 0 0 auto;
}

.navbar .logo {
  padding-left: 10px;

}

.logo img {
  max-width: 15vw;
}

.item .group {
  display: flex;
  align-items: center;
  font-size: 0.9em;
}

.item .group:hover {
  color: #FF8343;
}

.item .group .sub {
  font-size: 0.8em;

}

.material-icons {
  font-size: 1.8rem;
}

.navbar {
  position: fixed;
  max-height: 10vh;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 0 2px 0 grey;
  font-size: 1em;
  background-color: var(--theme-bg-color);
  color: var(--theme-color);
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.menu-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 36px;
  color: white;
  outline: none;
  background-color: #FF8343;
  border-radius: 10px;
  margin: 0.5em;
  padding: 0.2em;

}

.menu-button:hover {
  background-color: #4158A6;
}

.dropdown-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 60px;
  left: 10px;
  background-color: #179bae;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  list-style: none;
  padding: 1em;
  font-weight: bold;
  margin: 0;
  border-radius: 5px;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease, visibility 0.3s;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
}

.dropdown-menu.show {
  max-height: 200px;
  opacity: 1;
  visibility: visible;
}

.navbar ul {
  padding: 0;
}

.dropdown-menu li {
  padding: 8px 12px;
}

.dropdown-menu li a {
  text-decoration: none;
  background-color: #FF8343;
  border-radius: 10px;
  padding: 0.5em;
  color: #333;
  display: block;
  color: white;
  text-align: center;
}

.dropdown-menu li a:hover {
  background-color: #4158A6;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paragraph {
  margin-top: 8em;
  max-width: 30vw;
  line-height: 1.5em;
}

.paragraph strong {
  font-size: 2rem;
  background-color: #179BAE;
  border-radius: 10px;
  padding: 0.5em;
  color: white;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

.footer p {
  margin: 0;
  font-size: 14px;
}