*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
    /* padding: 3em; */
    font-family: 'Poppins', sans-serif;
    border-radius: 15px;
}

:root {
    --theme-bg-color: white;
    --theme-color: rgb(37, 150, 190);
  }

.item {
    padding: 10px;
    text-decoration: none;
    color: var(--theme-color);
  }
  
  .item.right {
    margin: 0 0 0 auto;
  }
  .navbar .logo {
    padding-left: 10px;

  }
  
  .logo img {
    max-width: 15vw;
  }
  .item .group {
    display: flex;
    align-items: center;
    font-size: 0.9em;
  }
  .item .group:hover{
    color: #FF8343;
  }
  .item .group .sub {
    font-size: 0.8em;
    
  }
  
  .material-icons {
    font-size: 1.8rem;
  }

  .navbar {
    position: fixed;
    max-height: 10vh;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 2px 0 grey;
    font-size: 1em;
    background-color: var(--theme-bg-color);
    color: var(--theme-color);
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  
  .menu-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 36px;
    color: white;
    outline: none;
    background-color: #FF8343;
    border-radius: 10px;
    margin: 0.5em;
    padding: 0.2em;
    
  }
  .menu-button:hover{
    background-color: #4158A6;
  }
  .dropdown-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 60px;
    left: 10px;
    background-color: #179bae;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    list-style: none;
    padding: 1em;
    font-weight: bold;
    margin: 0;
    border-radius: 5px;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease, visibility 0.3s;
    max-height: 0;
    opacity: 0;
    visibility: hidden; 
  }
  .dropdown-menu.show {
    max-height: 200px;
    opacity: 1;
    visibility: visible;
  }
  .navbar ul {
    padding: 0;
  }
  
  .dropdown-menu li {
    padding: 8px 12px;
  }
  
  .dropdown-menu li a {
    text-decoration: none;
    background-color: #FF8343;
    border-radius: 10px;
    padding: 0.5em;
    color: #333;
    display: block;
    color: white;
    text-align: center;
  }
  
  .dropdown-menu li a:hover {
    background-color: #4158A6;
  }
.cart {
    background-color: #f0f0f0;
    padding: 2vh;
    display: flex;
    overflow: hidden;
    margin: 6em 2em 0 2em;
}

.products {
    background-color: #ffffff;
    border-radius: 10px;
    margin: 2vh 0;
    padding: 1em;
    width: 65%;
    overflow: hidden;
    flex: 1;


}

table {
    width: 100%;
}

th,
td {
    padding: 8px;
    text-align: center;
}


.remove-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.5em;
    cursor: pointer;
    font-weight: bold;
}

.remove-button:hover {
    background-color: darkred;
}

.quantity-number {
    width: 1vw;
    text-align: center;
    border-radius: 10px;
    border: #b0b0b0;
    font-weight: bold;
}

.quantity-button {
    background-color: #308dba;
    border-radius: 40%;
    border: 2px solid #179BAE;
    padding: 0.5em;
    cursor: pointer;
    color: white;
    height: 4vh;
}

.total {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 2em;
    min-width: fit-content;
    align-self: flex-end;
    margin: 1em 0 1em 1em;
}

.proceed {
    display: block;
    text-align: center;
    font-weight: bold;
    background-color: #179BAE;
    padding: 1em 2em;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 1.5em;
}

.proceed:hover {
    background-color: darkgreen;
}

.top {
    position: fixed;
    right: 2vh;
    bottom: 2vh;
    background-color: #179BAE;
    border-radius: 70%;
    padding: 0.5em;
    cursor: pointer;
}

.top span {
    font-size: 3em;
    color: white;
}

.top:hover{
  background-color: #FF8343;

}
.clear-cart {
    text-align: center;
    background-color: #179BAE;
    margin: 1em;
    border-radius: 10px;
    padding: 1em;

}

.clear-cart:hover {
    background-color: darkred;
}

.clear-cart a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

hr {
    margin: 1em 0;
    border: 0.5px solid #b0b0b0;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 10vh;
  width: 100%;
}

.footer p {
  margin: 0;
  font-size: 14px;
}


@media (max-width: 1400px) {

    .cart, .products, .total, .product-item {
        flex-direction: column;
        overflow: hidden;
        align-self: flex-start;
    }
}