* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* padding-top: 10em; */
  font-family: "Poppins", sans-serif;
  background-color: #179bae;
}


:root {
  --theme-bg-color: white;
  --theme-color: rgb(37, 150, 190);
}

.item {
  padding: 10px;
  text-decoration: none;
  color: var(--theme-color);
}

.item.right {
  margin: 0 0 0 auto;
}
.navbar .logo {
  padding-left: 10px;

}

.logo img {
  max-width: 15vw;
}
.item .group {
  display: flex;
  align-items: center;
  font-size: 0.9em;
}
.item .group:hover{
  color: #FF8343;
}
.item .group .sub {
  font-size: 0.8em;
  
}

.material-icons {
  font-size: 1.8rem;
}

.navbar {
  position: fixed;
  max-height: 10vh;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 0 2px 0 grey;
  font-size: 1em;
  background-color: var(--theme-bg-color);
  color: var(--theme-color);
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.menu-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 36px;
  color: white;
  outline: none;
  background-color: #FF8343;
  border-radius: 10px;
  margin: 0.5em;
  padding: 0.2em;
  
}
.menu-button:hover{
  background-color: #4158A6;
}
.dropdown-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 60px;
  left: 10px;
  background-color: #179bae;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  list-style: none;
  padding: 1em;
  font-weight: bold;
  margin: 0;
  border-radius: 5px;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease, visibility 0.3s;
  max-height: 0;
  opacity: 0;
  visibility: hidden; 
}
.dropdown-menu.show {
  max-height: 200px;
  opacity: 1;
  visibility: visible;
}
.navbar ul {
  padding: 0;
}

.dropdown-menu li {
  padding: 8px 12px;
}

.dropdown-menu li a {
  text-decoration: none;
  background-color: #FF8343;
  border-radius: 10px;
  padding: 0.5em;
  color: #333;
  display: block;
  color: white;
  text-align: center;
}

.dropdown-menu li a:hover {
  background-color: #4158A6;
}

/* General Styles */
.container {
  min-width: 80vw;
  min-height: fit-content;
  height: 100vh;
  width: 100%;
  padding: 2em;
  margin-top: 9vh;
}

/* Product Info Section */
.product-info-container {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  align-items: center;

  background-color: #ffffff;
  border-radius: 15px;
}
/* #F1DEC6
#FF8343 */
/* Product Image Section */
.product-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
  margin: 2em;
  padding: 1em;
  box-shadow: 0px 0px 10px 2px #179bae;
}

.product-image-container img {
  width: 100%;
  max-width: 25vw;
  border-radius: 20px;
}

/* Image Gallery Section */
.image-gallery-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.image-gallery-container img {
  width: 60px;
  height: 60px;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: transform 0.2s;
  
}

#main-product-image:hover {
  transform: scale(1.01);
  
}

.image-gallery-container img:hover {
  transform: scale(1.1);
}

/* Product Details Section */
.product-details-container {
  width: 35%;
}

.product-details-container h1 {
  margin-bottom: 3vh;
  /* Smaller spacing below title */
  font-size: 2em;
}

.product-details-container p {
  margin-right: 3em;
  margin-bottom: 3vh;
  line-height: 1.5;
  background-color: #ddd;
  border-radius: 10px;
  padding: 1em;
}

.product-details-container .price {
  margin-bottom: 1vh;
  font-weight: bold;
  font-size: 1em;
}

.color-label {
  font-weight: bold;
}

#color {
  margin-top: 0.5em;
  padding: 0.2em;
  text-align: center;
  background-color: #179bae;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: flex;
  font-weight: bold;
}

/* Buttons Section */
.buttons {
  display: flex;
  gap: 10px;
  margin-top: 2vh;
}

.buttons a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

button {
  padding: 10px 15px;
  font-size: 14px;
  color: #ffffff;
  background-color: #ff8343;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

button:hover {
  background-color: #0056b3;
  /* Darker blue on hover */
}

/* WhatsApp Button */
.whatsapp-button {
  background-color: #179bae;
  max-width: 1vw;
  min-width: 5vw;
  border-radius: 100%;
  overflow: hidden;
  cursor: pointer;
  margin-top: 1em;
}

.whatsapp-button img {
  width: 100%;
}

/* Customer Review Styles */
.customer-review-section {
  margin-top: 2vh;
}

.customer-review-section h2 {
  font-size: 1.2em;
  margin-bottom: 1vh;
}

.star-rating {
  font-size: 1.2em;
}

.star {
  color: #ff8343;
}
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  width: 100%;
}

.footer p {
  margin: 0;
  font-size: 14px;
}

